/* -------commune css style start ---------  */

* {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

.btn-primary {
  font-weight: 700;
  height: 64px;
  padding: 18px 35px;
  font-size: 20px;
  background: #fd6e0a;
  border: 0;
  color: #ffffff;
}
/* -------commune css style End  ---------  */

/* -------------- Header  section start -----------------  */
.header {
  background-image: url("../images/header_bg.png"),url("../images/developer.png");
  background-position: bottom right, top left 25px;
  background-position: bottom right, left 25px;
  background-position: bottom right, 4% 45%;

  background-repeat: no-repeat;
  /* background-size: auto 50px 600px; */
}

/* -------------- Nav  section start -----------------  */
nav {
  display: flex;
  padding: 50px 200px;
  justify-content: space-between;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.text-primary {
  color: orange;
}
nav ul {
  display: flex;
  /* align-items: flex-end; */
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 50px;
  padding: 7px 10px;
}
nav ul li:hover {
  background-color: #fd6e0a;
  font-size: 20px;
}

/* -------------- Header  section End  -----------------  */

/* -------------- banner part  start -----------------  */

.banner {
  display: flex;
  align-items: center;
  padding: 50px 0px 0px 230px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.banner_image {
  max-width: 584px;
  max-height: 676px;
  /* padding-left: 250px; */
}

/* -------------- banner part End   -----------------  */

/* -------------- Main  section start -----------------  */
main {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}
/* -------------- About  section start -----------------  */

.about {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 50px;
}

.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-between;
}
.about .info-title {
  font-size: 20px;
  color: #757575;
}

.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

/* -------------- About  section End  -----------------  */
/* -------------- What i do  section start -----------------  */

.what-i-do {
  text-align: center;
}
.what-i-do_description {
  padding: 10px 150px 10px;
  text-align: center;
}

.skills-container {
  display: flex;
  text-align: justify;
  gap: 24px;
}

.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}

/* -------------- What i do  section End  -----------------  */
